<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="booklibrary.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="booklibrary.perspectives.Perspective"
            icon="icons/alt_window_32.gif"
            id="BookLibrary.perspective"
            name="Book Library">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Book List"
            class="booklibrary.views.View"
            id="BookLibrary.view">
      </view>
      <view
            class="booklibrary.views.AuthorList"
            id="BookLibrary.view2"
            name="Author List"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="BookLibrary.view"
               minimized="false"
               ratio="0.33"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               id="BookLibrary.view2"
               minimized="false"
               ratio="0.67"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  tooltip="Exits this library">
            </command>
            <command
                  commandId="org.eclipse.gef.zoom_in"
                  label="Zoom"
                  style="push"
                  tooltip="Zooms, but what?">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
